body {
  background-color: black;
  color: white;
  font-size: 20px;
  line-height: 35px;
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    opacity: 0.7;
    transition: 0.3s;
}
a:active {
    color: white;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
@media only screen and (max-width: 640px)  {
  #canvas {
    display: none;
}
}

header {
  position: relative;
  margin-top: 0vw;
  left: 7vw;
  font-size: 48px;
  line-height: 58px;
  font-weight: 600;
  z-index: 2;
}

@media only screen and (max-width: 640px)  {
  header {
  margin-top: -10vw;
  font-size: 28px;
  line-height: 40px;
}
}

.wrapper {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
  }

.section-main-text {
  padding: 0px 0px 0px;
  position: relative;
  margin-top: 2vw;
  left: 7vw;
}

@media only screen and (max-width: 640px)  {
  .section-main-text {
  font-size: 20px;
  line-height: 35px;
  margin-top: 0vw;
}
}


.section-links {
  padding: 30px 0px 0px;
  position: relative;
  margin-top: 0vw;
  left: 7vw;
}

@media only screen and (max-width: 640px) {
  .section-links {
  padding: 0px 0px 0px;
  font-size: 20px;
  line-height: 35px;
  margin-top: 0vw;
}
}

.mobile-break { display: none; }

@media only screen and (max-width: 640px) {
  .mobile-break { display: block; }
}

.main-wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 3;
  height: 100vh !important;
}
