body {
  background-color: black;
  color: white;
  font-size: 20px;
  line-height: 35px;
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    opacity: 0.7;
    transition: 0.3s;
}
a:active {
    color: white;
}

header {
  position: absolute;
  top: 20%;
  left: 7%;
  font-size: 48px;
  line-height: 58px;
  font-weight: 600;
}

@media screen and (max-width: 900px) {
  header {
    top: 0%;
  }
}

.section-main-text {
  padding: 0px 0px 0px;
  position: absolute;
  top: 55%;
  left: 7%;
}

@media (max-width: 900px) {
  .section-main-text {
    top: 65%;
  }
}


.section-links {
  padding: 50px 0px 0px;
  position: absolute;
  top: 65%;
  left: 7%;
}
@media (max-width: 900px) {
  .section-links {
    top: 95%;
  }
}


@media only screen and (min-width: 700px) {
  h1,h2 {
      margin-left: 2rem
  }

.large-header {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}
